.ctn {
  @apply h-screen w-full bg-black text-white flex items-center overflow-hidden relative;
}

.label {
  @apply absolute top-8 left-8 z-20 font-mono text-xs uppercase border border-white px-2 py-1 rounded-full;
}

.horizontal-container {
  @apply flex items-center h-full pl-6 sm:pl-24 pr-24;
}

.horizontal-item {
  @apply w-[80vw] sm:w-[50vw] lg:w-[35vw] h-[70vh] border-r border-white/20 flex flex-col shrink-0 relative;
}

.intro-card {
  @apply justify-center px-8 sm:px-12;

  h2 {
    @apply font-serif text-[4rem] sm:text-[5rem] leading-none;
  }

  p {
    @apply font-mono mt-8 opacity-60 text-sm sm:text-base;
  }

  .decor-lines {
    @apply mt-12 flex gap-4;
    div:first-child {
      @apply w-12 h-1 bg-white;
    }
    div:last-child {
      @apply w-4 h-1 bg-white opacity-50;
    }
  }
}

.tech-card {
  @apply p-8 sm:p-12 hover:bg-white/5 transition-colors;

  .header {
    @apply flex justify-between items-start mb-8 sm:mb-12 border-b border-white/20 pb-4;

    .id {
      @apply font-mono text-xl font-bold text-white/40 group-hover:text-white transition-colors;
    }

    .category {
      @apply font-mono text-xs tracking-widest uppercase border border-white/30 px-3 py-1 rounded-full;
    }
  }

  .list {
    @apply flex flex-col gap-2;

    .item {
      @apply font-mono text-lg sm:text-xl py-3 border-b border-white/10 hover:border-white hover:pl-4 transition-all duration-300  opacity-60 hover:opacity-100 flex items-center justify-between ;
      
      .arrow {
        @apply text-[10px] opacity-0 group-hover/item:opacity-100 transition-opacity;
      }
    }
  }

  .corner-decor {
    @apply absolute bottom-6 right-6 w-3 h-3 border-r border-b border-white opacity-30 group-hover:opacity-100 transition-opacity;
  }
}

.next-section-btn {
  @apply w-[80vw] sm:w-[50vw] lg:w-[40vw] justify-center items-center;

  button {
    @apply relative  cursor-pointer focus:outline-none;

    .glow {
      @apply absolute inset-0 bg-white blur-xl opacity-10  transition-opacity rounded-full;
    }

    .circle {
      @apply w-32 h-32 sm:w-40 sm:h-40 rounded-full border border-white/50  flex items-center justify-center relative z-10 hover:scale-110 transition-all duration-500 bg-transparent;
    }

    svg {
      @apply w-10 h-10 sm:w-12 sm:h-12 text-white/60 group-hover:text-white transition-colors animate-bounce;
    }
  }
}
